.form {
    width: 400px;
}

.form_head_text {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.form_label {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.form_small_centered_text {
    text-align: center;
    font-size: small;
}

.form_small_centered_text_link {
    font-size: small;
}
