.container {
    margin: 150px auto;
    max-width: 1300px;
}

.panel {
    margin: 50px 0px;
    background-color: white;
    border-radius: 16px;
    padding: 12px 17px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.panel_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.flex_horizontal_split {
    margin-left: auto;
}

.radio_button {
    margin-right: 20px;
    width: 150px;
    height: 40px;
}

.radio_field {
    /* display: none; */
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.radio_label {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.radio_field:checked + .radio_label {
    background-color: #3b82f6;
    color: white;
    filter: none;
    transition: 0.3s;
}

.radio_label:hover {
    cursor: pointer;
}

.search_bar {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;

    width: 350px;
    height: 40px;

    padding: 0px 15px;
}

.click_button_container {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.click_button_text {
    font-size: xx-large;
    color: lightgray;
    font-weight: bold;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: separate;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
    border-spacing: 0;
}

.table tr {
    height: 35px;
}

.table th {
    text-align: left;
    color: silver;
}

.table td,
.table th {
    padding: 0 10px;
}

.table tbody > tr:not(:last-child) td {
    border-bottom: 1px solid lightgray;
}

.table thead > tr:last-child th {
    border-bottom: 2px solid lightgray;
}

.table td:first-child,
.table th:first-child {
    padding-left: var(--main-border-radius);
}
.table td:last-child,
.table th:last-child {
    padding-right: var(--main-border-radius);
}

.container_button_delete {
    display: flex;
    justify-content: center;
}

.button_delete {
    color: white;
    background-color: red;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.button_delete:focus {
    background-color: lightcoral;
    transition: 0.3s;
}

.container_button_load_more_flex {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_button_load_more {
    max-width: 250px;
    min-width: 140px;
    width: 100%;
}
