.container {
    background-color: #eaeaea;
    display: inline-block;
    position: relative;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.image {
    display: inline-block;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.image img {
    object-fit: scale-down;
    max-width: inherit;
    max-height: inherit;
}

.place_for_name_and_button {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    position: relative;
    height: 120px;
    background-color: white;
}

.survey_name {
    display: block;
    padding: 10px 10px 0px 10px;
    width: 330px;
    height: 2.5em;
    overflow: scroll;
}

.button {
    margin: 15px 10px 0px 10px;
}
