.form_reg_block {
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
}

.form_reg_block_head_text {
    font-size: x-large;
    color: #3b82f6;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.label {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
}

.authorization_text {
    text-align: center;
    font-size: small;
}

.link {
    font-size: small;
}