* {
    font-size: large;
}

body {
    margin: 0;
}

.fullscreen_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.blue_text {
    color: #3b82f6;
}