* {
    font-size: large;
}

body {
    margin: 0;
}

:root {
    --main-blue-color: #3b82f6;
    --main-border-radius: 16px;
}

.fullscreen_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.blue_text {
    color: var(--main-blue-color);
}

.background_image_triangles {
    background-image: url("../public/Triangles-4k.png");
    background-size: 100% auto;
}
